name: 测试：aliv3

on:
  workflow_dispatch:  # 手动触发

jobs:
  running:
    runs-on: ubuntu-22.04

    steps:
      - name: '检出代码'
        uses: actions/checkout@v3

      - name: '设置Python环境'
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: '设置Node.js环境'
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: '安装依赖'
        run: |
          pip install --upgrade pip
          pip install requests==2.26.0
          pip install lxml==4.6.5
          pip install selenium==3.141.0
          pip install retrying==1.3.3
          pip install wheel==0.37.1
          pip install serverchan_sdk==1.0.6
          pip install PyExecJS
          pip install DrissionPage

      - name: '准备Chrome驱动'
        uses: nanasess/setup-chromedriver@v2

      - name: '安装Xvfb虚拟显示器'
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb

      - name: '启动虚拟显示器'
        run: |
          Xvfb :99 -screen 0 1024x768x24 &
          echo "DISPLAY=:99" >> $GITHUB_ENV

      - name: '测试aliv3'
        env:
          DISPLAY: ':99'
        run: |
          python ./AliV3min.py
