name: 测试：getcookie

on:
  workflow_dispatch:  # 手动触发

jobs:
  running:
    runs-on: ubuntu-22.04

    steps:
      - name: '检出代码'
        uses: actions/checkout@v3

      - name: '设置Python环境'
        uses: actions/setup-python@v5
        with:
          python-version: 3.7

      - name: '设置Node.js环境'
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: '设置时区为北京时间'
        run: |
          sudo timedatectl set-timezone Asia/Shanghai
          echo "当前时间: $(date)"

      - name: '安装依赖'
        run: |
          pip install --upgrade pip
          pip install -r ./requirements.txt
          pip install PyExecJS

      - name: '准备Chrome驱动'
        uses: nanasess/setup-chromedriver@v2

      - name: 'getcookie'
        run: |
          python ./getcookie.py
