name: 嘉立创自动答题-测试

on:
  workflow_dispatch:  # 手动触发

jobs:
  running:
    runs-on: ubuntu-22.04

    steps:
      - name: '检出代码'
        uses: actions/checkout@v3

      - name: '设置Python环境'
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: '设置Node.js环境'
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: '设置时区为北京时间'
        run: |
          sudo timedatectl set-timezone Asia/Shanghai
          echo "当前时间: $(date)"

      - name: '安装依赖'
        run: |
          pip install --upgrade pip
          pip install -r ./requirements.txt
          pip install PyExecJS

      - name: '准备Chrome驱动'
        uses: nanasess/setup-chromedriver@v2

      - name: '进行自动答题流程(日志在这里看)'
        id: run_script
        run: |
          python ./dati.py "18036815431" "134613461346zzY" "true"
          
      - name: '上传调试截图'
        uses: actions/upload-artifact@v4
        if: always()  # 重要：无论上一步脚本运行成功还是失败，都执行此步骤
        with:
          name: debug-screenshots  # 下载时的压缩包名称
          path: ./*.png            # 上传当前目录下所有的 png 图片
          retention-days: 3        # 只保留3天，节省空间
